#ms-heading {
    width: 20%;
    height: 80px;
    margin-left: 40%;
    margin-right: 40%;
    position: fixed;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: red;
    background-color: blue;
    border-style: solid;
    z-index: 1;
}
#restart {
    position: relative;
    top: -20px;
}
.grid-container {
    position: absolute;
    top: 140px;
    display: grid;
    grid-gap: 5px;
    padding: 5px;
}
.grid-container > div {
    width: 30px;
    height: 30px;
    max-width: 30px;
    max-height: 30px;
    background-color: darkgrey;
    text-align: center;
    line-height: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: blue;
}
body {
    background-color: blue;
}